PLAUD_AUTHORIZATION=
# Or use PLAUD_TOKEN if the token should be sent as Bearer <token>.
PLAUD_TOKEN=

# Known region keys: aws:us-west-2, aws:eu-central-1, aws:ap-southeast-1
PLAUD_REGION=aws:us-west-2

PLAUD_DATA_DIR=/Users/so1omon/Documents/Plaud
PLAUD_OBSIDIAN_DIR=/Users/so1omon/Documents/Obsidian Vault/Plaud
PLAUD_PAGE_SIZE=50
PLAUD_DOWNLOAD_AUDIO=false
